@page "/contact"

<PageTitle>contact</PageTitle>

<div class="body">
    <article>
        <div class="icon-with-text">
            <img src="images/phone-solid.svg" width="20" height="20" />
            <h3>Reach us</h3>
        </div>
        <hr />
        <p>Email: HotelDerTuin@gmail.com</p>
        <p>Phone: 06245245425</p>
    </article>

    <article>
        <div class="icon-with-text">
            <img src="images/location-dot-solid.svg" width="20" height="20" />
            <h3>Location</h3>
        </div>
        <hr />
        <p>
            Adress: 
            2378 Maple Street
            Springfield, IL 62704
            USA
        </p>
    </article>

    <article>
        <div class="icon-with-text">
            <img src="images/clock-solid.svg" width="20" height="20" />
            <h3>Business hours</h3>
        </div>
        <hr />
        <p>Monday – Friday: 8:00 AM – 8:00 PM</p>
        <p>Saturday: 9:00 AM – 5:00 PM</p>
        <p>Sunday: Closed</p>
    </article>
</div>
