.body {
    display: flex;
    flex-direction: row;
}

article {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    margin: 0.25rem;
    border: solid 1px black;
    box-shadow: 1px 1px inset;
    border-radius: 10px;
}

h3 {
    margin: 0.25rem;
}

.icon-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
}